@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-family: "Raleway", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 0 3em;
  gap: 1em;
}

.title {
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    width: 4em;
    height: 0.2em;
    background-color: #ffcc29;
    margin: 0.1em auto;
    margin-bottom: 0.8em;
  }
}

.section-hr {
  display: block;
  width: 100%;
  height: 0.2em;
  background-color: #000000;
  margin: 1.5em auto;
}

nav {
  display: none;
}

header {
  .hero-section {
    .hero-image {
      background-image: url("images/background/intro-bg.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .hero-presentation {
      padding: 1em;
      display: flex;
      flex-direction: column;
      color: black;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 5rem;
        font-family: "Dancing Script", cursive;
        font-weight: bold;
      }

      p {
        margin-top: -1.2em;
        font-size: 1.1rem;
        font-weight: bold;
      }
    }

    .call-to-action {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        border: none;
        background-color: #ffcc29;
        padding: 0.5em 1.3em;
      }

      a {
        font-weight: 600;
        font-size: 1.2rem;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo {
    margin-top: 1em;
    width: 14em;
  }
}

.services-section {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin: 1em;
    }

    .img-container {
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 150px;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}

.portfolio-separator {
  text-align: center;

  h2 {
    font-size: xx-large;
    padding: 2em 0;
  }

  .portfolio-image {
    background-image: url("images/background/blog-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

.portfolio-section {
  .images {
    display: flex;
    flex-direction: column;
    gap: 2em;

    .image-container {
      position: relative;
      display: inline-block;

      &::before {
        content: "";
        position: absolute;
        top: 5px;
        right: 5px;
        bottom: 5px;
        left: 5px;
        border: 2px solid white;
        box-sizing: border-box;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 100%;
        background-color: #ffcc29;
      }

      img {
        width: 100%;
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
  }
}

.contact-section {
  color: #ffffff;

  .title {
    &::after {
      margin-bottom: 0;
      background-color: #ffffff;
      height: 0.1em;
    }
  }

  h2 {
    font-weight: 500;
    font-size: 2.6em;
  }

  .contact-image {
    background-image: url("images/background/team-bg.jpg");
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

footer {
  background-color: #000000;
  color: #ffffff;

  .footer-section {
    div {
      display: flex;
      flex-direction: column;
    }

    padding: 3em 0;

    h3 {
      color: #ffcc29;
    }

    a {
      margin-top: 0.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1em;
      color: #ffffff;
      text-decoration: none;
    }

    .contact-info {
      .phone-info {
        margin: 0.5em 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1em;
      }
    }

    img {
      width: 30px;
    }
  }

  .bottom-info {
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffcc29;

    p {
      color: #000000;
      font-weight: 600;
      margin: 0 1em;

      span {
        font-weight: bold;
      }
    }

    img {
      width: 50px;
      height: 100%;
    }
  }
}

// Media queries
//==================================================//
@media (min-width: 768px) {
  .services-section {
    div {
      .img-container {
        height: 390px;
      }
    }
  }
  .contact-section {
    .contact-image {
      background-size: cover;
    }
  }
}

@media (min-width: 1024px) {
  .title {
    &::after {
      margin: 0.1em 0;
    }
  }

  header {
    .hero-section {
      .hero-presentation {
        padding-left: 8em;
        color: white;
        align-items: start;
      }
    }
  }

  .about-section {
    div {
      display: flex;
      flex-direction: row;
      margin: 0 1.5em 0 12%;

      .content {
        margin-left: 10em;
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: start;

        p {
          margin-top: 1em;
        }
      }
    }
  }

  .services-section {
    .right-card {
      flex-direction: row;
      margin: 0;

      .img-container {
        height: 230px;
      }

      div {
        h2 {
          margin-left: 0.5em;
        }
        display: flex;
        align-items: start;
        text-align: start;
        flex-direction: column;
      }
    }
    .left-card {
      flex-direction: row-reverse;
      margin: 0;

      .img-container {
        height: 230px;
      }

      div {
        display: flex;
        align-items: start;
        text-align: start;
        flex-direction: column;
      }
    }
  }

  .portfolio-separator {
    .title {
      &::after {
        margin: 0.1em auto;
      }
    }
  }

  .portfolio-section {
    .images {
      flex-direction: row;
      flex-wrap: wrap;
      .grid-item {
        flex-basis: 48%;
      }
    }
  }

  .contact-section {
    .contact-image {
      background-size: cover;
    }
  }

  footer {
    .footer-section {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@media only screen and (min-width: 1281px) {
  h2 {
    font-size: xx-large;
  }
  header {
    .hero-section {
      .hero-presentation {
        h1 {
          font-size: 8em;
        }
        p {
          font-size: 1.5em;
        }
        padding: 5em 9em;
        color: white;
        align-items: start;
      }
    }
  }

  .about-section {
    div {
      margin: 2em 1.5em 2em 12%;

      .logo {
        margin-top: 0;
        width: 18em;
      }

      .content {
        p {
          font-size: larger;
        }
      }
    }
  }

  .services-section {
    text-align: start;

    .right-card {
      p {
        font-size: larger;
        padding: 3em;
      }
      .img-container {
        height: 270px;
      }
    }

    .left-card {
      p {
        font-size: larger;
        padding: 3em 4em;
      }
      .img-container {
        height: 270px;
      }
    }
  }

  .portfolio-section {
    .images {
      justify-content: center;
      .grid-item {
        flex-basis: 25%;
      }
    }
  }
}

@media only screen and (min-width: 1620px) {
  .container {
    max-width: 1620px;
    margin: 0 auto;
  }

  .hero-section {
    .call-to-action {
      button {
        font-size: 1.5em;
        padding: 0.5em 1em;
      }
    }
  }

  .title {
    font-size: 3em;
  }

  .about-section {
    div {
      margin: 5em 1.5em 5em 12%;
      .logo {
        width: 41em;
      }

      .content {
        p {
          font-size: xx-large;
        }
      }
    }
  }

  .services-section {
    .right-card {
      p {
        font-size: xx-large;
      }
      .img-container {
        height: 420px;
        img {
          border-radius: 20px;
        }
      }
    }

    .left-card {
      p {
        font-size: xx-large;
      }
      .img-container {
        height: 340px;
      }
    }
  }

  .portfolio-separator {
    .title {
      font-size: 3em;
    }
  }
}
